[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
# huggingface_hub = "*"
esm = "*"

[requires]
python_version = "3.12"
